<h1 style="text-align: center; margin-top: 2rem; text-shadow: 1.5px  1.5px 0 #000;">Conocenos   ... </h1>
<div class="contenedor-madre">
  <div class="container"> 
  
  
  <form [formGroup]="formularioContacto"  (ngSubmit)="enviar()">
    <div class="mb-3">
      <label for="nombre" class="form-label"> Nombre: </label>
      <input [ngClass]="{'is-invalid': hasErrors('nombre', 'required') || hasErrors('nombre', 'minlength')  }" type="nombre" class="form-control" id="nombre" formControlName="nombre" >   
      <div class="text-danger" *ngIf="hasErrors('nombre', 'required')" > Nombre requerido</div>
      <div class="text-danger" *ngIf="hasErrors('nombre', 'minlength')" > Requiere al menos 3 caracteres </div>

        <!-- PARA FORM TIPO PLANTILLA
          <input type="email" class="form-control" id="nombre" [(ngModel)]="usuario.nombre" required [ngModelOptions]="{standalone: true}">   
        ngModel= para conectar el objeto -->
    </div>
    <div class="mb-3">
      <label for="apellido" class="form-label"> Apellido: </label>
      <input [ngClass]="{'is-invalid': hasErrors('apellido', 'required') || hasErrors('apellido', 'minlength')  }" type="apellido" class="form-control" id="apellido" formControlName="apellido" >   
      <div class="text-danger" *ngIf="hasErrors('apellido', 'required')" > Apellido requerido</div>
      <div class="text-danger" *ngIf="hasErrors('apellido', 'minlength')" > Requiere al menos 3 caracteres </div>
    </div>
    <div class="mb-3">
      <label for="tipoDni" class="form-label"> Tipo de DNI </label>
      <select class="form-select" id="tipoDni" formControlName="tipoDni">
        <option value="DNI"> DNI </option>
        <option value="Pasaporte"> Pasaporte </option>
        <option value="Cedula"> Cedula </option>
      </select>
   </div>
    <div class="mb-3" *ngIf="mostrarDNI">
      <app-dni [tipoDni]="tipoDni"/>
     
      
    </div>
    <div class="mb-3">
      <label for="email" class="form-label"> Email:</label>
      <input [ngClass]="{'is-invalid': hasErrors('email', 'required') ||  hasErrors('email', 'email')  }" type="email" class="form-control" id="email" formControlName="email"  >
      <div class="text-danger" *ngIf="hasErrors('email' , 'email')"> Email formato invalido</div>
      <div class="text-danger" *ngIf="hasErrors('email', 'required')" > Email requerido</div>

        <!-- PARA FORM TIPO PLANTILLA 
        <input type="email" class="form-control" id="email" [(ngModel)]="usuario.email" required [ngModelOptions]="{standalone: true}">
          --> 
    </div>
   
    <button id="button" type="submit" class="btn btn-primary" (click)="enviar()">Enviar</button>

  </form>

  <p *ngIf="enviado" style="margin-top:10px" class="alert alert-success"  role="alert"> {{mensaje}}</p>
  <div *ngIf="mostrarAlerta" style="margin-top:10px"  class="alert alert-danger" role="alert">
    Por favor, completa todos los campos antes de enviar el formulario.
</div>
</div>

<div class="map"> 
  <div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5715.566936983633!2d-58.402556958807395!3d-34.63624421655438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1725124029791!5m2!1ses-419!2sar" width="500" height="380" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <p>Contactanos </p>
  <p>Correo: onlinetravelNine.gmail.com</p>
  <p>Atención a clientes SAC (24hs)</p>
  <p>Telefono: 0810 345 0887 </p>
  <p>WhatsApp: 5491167905675</p>

  </div>
</div>
</div>
<!-- validar que se envie SOLO cuando todos los campos estes llenos.-->