
<div class="container-table">
<h1>  Tipos de destinos Sudamerica </h1>



<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Pais</th> 
        <th scope="col">Destino </th>
        <th scope="col">Precio </th>
        <th scope="col">Informacion adicional </th>
        
    </tr>
</thead>
<tbody>
    <tr *ngFor="let destinos of destinosList">
        <th scope="row"> {{destinos.id}}</th>
        <td> {{destinos.pais}}</td>
        <td> {{destinos.destino}}</td>
        <td>{{destinos.price|currency }}</td>
        <td><button type="button" class="btn btn-info" [routerLink]="['/destinos', destinos.description]"> Detalles </button></td>
      </tr>
      
    </tbody>
  </table>
  <h2> Destacados </h2>
</div>

