
<div class="container">
<h1>  Tipos de destinos Sudamerica </h1>



<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Pais</th> 
        <th scope="col">Destino </th>
        <th scope="col">Precio </th>
        <th scope="col">Informacion adicional </th>
        <th scope="col"> </th>

        
    </tr>
</thead>
<tbody>
    <tr *ngFor="let destinos of destinosList">
        <th scope="row"> {{destinos.id}}</th>
        <td> {{destinos.title}}</td>
        <td> {{destinos.description}}</td>
        <td [ngClass]="{'red-color': destinos.price > 100 }">{{destinos.price | currency }}</td>
        
        <td><button type="button" class="btn btn-info" [routerLink]="['/destinos', destinos.id]"> Detalles </button></td>
      </tr>
      
    </tbody>
  </table>
  <h2> Destacados </h2>
</div>

